.display_1
{
    background-color: blue;
    color: red;
}
.display_2
{
    background-color: red;
    color: yellow;
}
.display_3
{
    background-color: white;
    color: green;
}
.display_4
{
    background-color: green;
    color: yellow;
}
.display_5
{
    background-color: orange;
    color: black;
}
.display_6
{
    background-color: pink;
    color: black;
}